.sfondo {
    height: 100vh;
    /* Gradient */
    background-image:
        linear-gradient(to bottom,
        rgba(53,149,137,255) 0vh,
        rgba(53,149,137,255) 15vh,
        rgb(236, 231, 231) 15vh,
        rgb(219, 212, 212) 100vh);
}


.img_User {
    width: 80px;
    height: 80px;
}

p {
    margin-bottom: 0;
}

ul {
    margin-left: 0!important;
}

.sfondo-chats {
    background-image: url('../img/mine.jpg');
}

.sent {
    background-color: rgba(216,248,191,255);
}

.received {
    background-color: white;
}

.input-group {
    align-items: center
}

.over_flow {
    overflow: auto;
}